coqui-tts/models/**/config.json
coqui-tts/models/**/model_file.pth
coqui-tts/output/*.mp3
coqui-tts/output/*.wav
coqui-tts/__pycache__

ollama/models/blobs
ollama/models/manifests
ollama/__pycache__

whisper/output/*.mp3
whisper/output/*.wav
whisper/__pycache__

argos-translate/local/*/**
argos-translate/__pycache__

comfy/output/*.png
comfy/custom_nodes/__pycache__
comfy/models/**/*.safetensors
comfy/models/**/*.pth
comfy/models/**/*.pt
