secrets/**.txt
!secrets/**.tpl.txt
!secrets/**.md

app/family-ai/.env

ollama/models/blobs
ollama/models/manifests
ollama/__pycache__

tts/input
tts/models/**/config.json
tts/models/**/*.pth
tts/models/**/*.onnx
tts/voices/**/*.pt
tts/output/*.mp3
tts/output/*.wav
tts/__pycache__
tts/kokoro/__pycache__

argos-translate/local/*/**
argos-translate/__pycache__

comfy/output/*.png
comfy/custom_nodes
comfy/storage
comfy/models/**/*.safetensors
comfy/models/**/*.pth
comfy/models/**/*.pt

certificates
.env
docker-compose.override.yml
