

ollama/models/blobs
ollama/models/manifests
ollama/__pycache__

tts/input
tts/models/**/config.json
tts/models/**/model_file.pth
tts/output/*.mp3
tts/output/*.wav
tts/__pycache__

argos-translate/local/*/**
argos-translate/__pycache__

comfy/output/*.png
comfy/custom_nodes
comfy/storage
comfy/models/**/*.safetensors
comfy/models/**/*.pth
comfy/models/**/*.pt

certificates
