services:
  ollama:
    container_name: ollama
    image: ollama/ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    env_file:
      - .env
    networks:
      - family-ai
    ports:
      - 11434:11434
    restart: always
    volumes:
      - ./ollama/models:/root/.ollama/models

  ollama-api:
    container_name: ollama-api
    depends_on:
      - ollama
    build:
      context: ./ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    env_file:
      - .env
    networks:
      - family-ai
    ports:
      - 8185:80
    restart: always
    secrets:
      - mistral_api_key
    volumes:
      - ./ollama:/app/ollama

  tts:
    container_name: tts
    build:
      context: ./tts
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    networks:
      - family-ai
    ports:
      - 8186:80
    restart: always
    volumes:
      - ./tts:/app/tts
      - ./tts/models:/root/.local/share/tts/
      - ./tts/cache:/root/.cache/

  argos-translate:
    container_name: argos-translate
    build:
      context: ./argos-translate
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    env_file:
      - .env
    environment:
      - ARGOS_LANGUAGES=en,fr,zh,es
      - ARGOS_PACKAGES_DIR=/root/.local/share/argos-translate/packages/
    networks:
      - family-ai
    ports:
      - 8187:80
    volumes:
      - ./argos-translate:/app/argos-translate
      - ./argos-translate/local:/root/.local
    restart: always

  comfy:
    container_name: comfy
    build:
      context: ./comfy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["0"]
              capabilities: [gpu]
    env_file:
      - .env
    networks:
      - family-ai
    ports:
      - 8188:8188
    restart: always
    volumes:
      - ~/app/models/:/app/ComfyUI/models/
      - ./comfy/output:/app/ComfyUI/output
      - ./comfy/custom_nodes:/app/ComfyUI/custom_nodes
      - ./comfy/user:/app/ComfyUI/user

  app:
    container_name: app
    build:
      context: ./app
    depends_on:
      - argos-translate
      - comfy
      - ollama-api
      - tts
    networks:
      - family-ai
    ports:
      - 9000:9000
    restart: always
    volumes:
      - ./app:/app

secrets:
  mistral_api_key:
    file: ./secrets/mistral_api_key.txt

networks:
  family-ai:
