aiofiles~=24.1.0
bson~=0.5.10
fastapi~=0.110.3
openai-whisper==20240930
pydantic~=2.7.4
python-multipart~=0.0.19
TTS~=0.22.0
uvicorn~=0.30.6
torch~=2.5.1
transformers~=4.46.3
numpy~=1.22.0
spacy==3.7.5
