aiofiles~=24.1
bson~=0.5
fastapi~=0.110
kokoro~=0.9
misaki[zh]
openai-whisper==20240930
pydantic~=2.7
python-multipart~=0.0
soundfile
uvicorn~=0.30
torch~=2.5
transformers~=4.46
numpy~=1.22
spacy~=3.8
phonemizer-fork==3.3
scipy~=1.11
munch~=4.0
ipython~=8.37
whisper-timestamped~=1.15
pip~=25.2
